{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "exclude": [
          "babel-plugin-transform-classes",
          "@babel/plugin-transform-classes"
        ],
        "targets": { "electron": "1.8" },
        "corejs": 2
      }
    ],
    ["@babel/react"],
    ["@babel/preset-flow"]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
