.left-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .3em;

  &__infospan {
    background: rgba(255, 255, 255, 0.4);
    padding: .1em .4em;
    margin: 0 3px;
    font-size: 13;
    border-radius: .3em;
  }
}
